* {
 box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;
  font-size: 10px;
  background-color: #333;
}

.arrow {
  padding-right: 5%;
  padding-top: 7%;
  text-align: right;
  width: 20%;
  float: right;
}

.content {
padding: 5%;
width: 80%;
float: left;
}

.content h1 {
  font-family: helvetica, sans-serif;
  font-weight: 800;
  font-size: 1.8em;
}

.content h3 {
  font-family: helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.3em;
  line-height: 2em;
}

.container {
  width: 420px;
  margin: 0 auto;
  background-color: #5e5e5e;
}

.location {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #000000;
}

.location:hover {
  background-color: #afafaf;
}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  background-color: #000000;
  position: fixed;
  width: 420px;
}

.restaurant-list {
  background-color: #E5E5E5;
  padding-top: 50px
}
